node_modules/
public/js

/target
/checkouts
/src/gen
.lsp
cljs-runtime
.clj-kondo
main.js
manifest.edn
module-loader.edn
module-loader.json

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/

.calva